// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: border-box;

  @include breakpoint-up(medium) {
   font-size: 68.75%;
  }

  @include breakpoint-up(large) {
    font-size: 75%;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

nav, ul, li {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  min-height: 600vh;
  font-family: 'Poppins', sans-serif;
  background: $body-background;
  color: $white;
  @include breakpoint-down(small) {
    text-align: center;
  }
}

.container {
  max-width: 110rem;
  margin: 3rem auto 12rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding: 2rem 2.5rem;

  @include breakpoint-up(medium) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.container-small {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.text-highlight {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 110%;
    transform: translateX(-5%);
    left: 0;
    bottom: -10%;
    height: .7em;
    border-radius: .3em;
    
    background-color: rgba($primary-color, .4);
    z-index: -1;
  }
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  margin-bottom: .5em;
}

h4, h5, h6 {
  margin: 0;
  margin-bottom: .2em;
}

.heading-primary {
  font-size: 3.25rem;
  font-size: clamp(2.7rem, 8vw, 3.25rem);
  font-weight: 700;
}

.heading-secondary {
  font-size: 3rem;
  font-size: clamp(2rem, 7vw, 2.75rem);
  font-weight: 600;
  color: $light-blue;
  text-transform: uppercase;

}

.heading-tertiary {
  font-size: clamp(1.8rem, 4vw, 2.25rem);
  font-weight: 600;
}