.header {
  padding: 0;

  &__nav {
    display: flex;
    align-items: center;
    padding: 3rem 3rem;
    position: relative;
    z-index: 100;

    &::before {
      content: "";
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background: transparentize($primary-color, 0.01)
    }
    &.open::before {
      animation: navOpenFirst $nav-cb .3s forwards;
    }
    &.close::before {
      animation: navCloseFirst $nav-cb .3s forwards;
    }

    &::after {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      background: transparentize($secondary-color, 0.01)
    }
    &.open::after {
      animation: navOpenSecond $nav-cb .4s forwards;
      animation-delay: .2s;
    }
    &.close::after {
      animation: navCloseSecond $nav-cb .3s forwards;
    }

    &.open {
      ul {
        display: block;
        text-align: center;
        position: fixed;
        width: 58vw;
        top: 50vh;
        right: 0;
        transform: translateY(-50%);
        margin: 0;
      }

      li {
        width: 100%;
        margin: 0;
        animation: fadeIn .5s forwards;
        opacity: 0;
        transform: translateX(30vw);
        margin: clamp(.5rem, 5vh, 2rem) 0;
        
      }

      @for $i from 1 through 3 {
        li:nth-child(#{$i}) {
          animation-delay: $i * 0.3s;
        }
      }

      a {
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
  }

  @keyframes fadeIn {
    from {
      filter: blur(3px);
      transform: translateX(30vw);
      opacity: 0;
    }
    to {
      filter: blur(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes navOpenFirst {
    from {
      width: 0;
    }
    to {
      width: 58vw;
    }
  }
  @keyframes navCloseFirst {
    from {
      width: 58vw;
    }
    to {
      width: 0;
    }
  }
  @keyframes navOpenSecond {
    from {
      width: 0;
    }
    to {
      width: 42vw;
    }
  }
  @keyframes navCloseSecond {
    from {
      width: 42vw;
    }
    to {
      width: 0;
    }
  }

  &__name {
    color: $white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    position: relative;
    z-index: 2;
    color: $secondary-color;

    .first {
      transition: all .2s;
    }
    .last {
      transition: all .3s;
      font-size: 1.4rem;
    }

    &.inverse {
      color: $primary-color;
      .first {
        font-size: 2.1rem;
      }
      .last {
        font-weight: 700;
        font-size: 1.5rem;
      }
    }

    .first {
      font-weight: 700;
    }
    .last {
      color: $white;
    }
  }

  &__list {
    list-style: none;
    flex: 2;
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;
    padding: 0;

    @include breakpoint-down(small) {
      display: none;
    }    
  }

  &__item {
    margin: 0 1rem;
  }

  &__link {
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    color: $white;
    padding: 5px 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $secondary-color;
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
    }

    &:hover::after, &:focus::after {
	    opacity: 1;
	    transform: translate3d(0, 2px, 0);
    }
  }

  .nav-menu {
    width: 28px;
    height: 22px;
    margin-left: 1.5rem;
    position: relative;
    transform: rotate(0deg);
    cursor: pointer;
    transform: scale(0.85);
    
    @include breakpoint-up(medium) {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      border-radius: 3px;
      background: $white;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2), &:nth-child(3) {
        top: 9px;
      }
      &:nth-child(4) {
        top: 18px;
      }
    }
  }
  .nav-menu.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
  .nav-menu.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  .nav-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .nav-menu.open span:nth-child(4) {
    top: 9px;
    width: 0;
    left: 50%;
  }

  &__lang-form {
    color: $gray;
    margin-left: auto;
    position: relative;
    z-index: 2;

    button {
      border: 0;
      padding: 0;
      background: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      transition: color .2s ease-in-out;
      cursor: pointer;

      &.active, &:hover {
        color: #fff;
      }
    }

    @include breakpoint-up(medium) {
      order: 2;
    }
  }
}