.hero {
  text-align: center;

  @include breakpoint-up(large) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-bottom: 3rem;

    @include breakpoint-up(large) {
      margin: 0;
    }
  }

  &__text {
    line-height: 1.3;

    @include breakpoint-up(large) {
      padding-top: 3rem;
      margin-left: 4rem;
    }

    &>* {
      display: table;
      margin-left: auto;
      margin-right: auto;
    }

    h3 {
      margin-top: -1.5rem;
      color: $yellow;
      font-size: clamp(2.6rem, 7vw, 3.1rem);
      font-weight: 500;
    }
  }
}