$primary-color: #3A36A2;
$secondary-color: #00C3A1;

$body-background: no-repeat linear-gradient(170deg, #110C1D, #210A4E);
$white: #F5F5F5;
$gray: #8F8F8F;
$yellow: #FFD800;
$light-blue: #CEEAEF;
$red: #D5403E;
$dark-black: rgba(#07070A, 0.8);
$dark-blue: #060616;

$nav-cb: cubic-bezier(.37,.31,.1,1.84);