@keyframes openDetails {
  0% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  1% {}

  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

.work {

  @include breakpoint-down(small) {
    text-align: center;
  }

  &__about {
    color: lighten($primary-color, 30%);
  }

  &__projects {}

  &__project {

    &:not(:last-child) {
      margin: 3rem 0 5rem;
    }

    background: $dark-blue;
    padding: 2rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    position: relative;
    transition: box-shadow .3s ease-out;

    @include breakpoint-up(medium) {
      padding: 3rem 3.5rem 4rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "title links"
        "details details"
        "details details"
    }

    &:hover {
      box-shadow: 0 0 0.5rem .15rem rgba(lighten($primary-color, 10%), 0.6);
    }

    &.open {
      .work__details {
        max-height: 70rem;
        padding: 2.5rem 1rem .5rem;
        opacity: 1;

        @include breakpoint-up(medium) {
          padding: 4rem 0 2rem;
        }
      }

      .work__button {
        .arrow {
          transform: rotate(-135deg) translate(-2px, -2px);
        }

        &:hover,
        &:focus {
          .arrow {
            transform: rotate(-135deg) translate(-1px, -1px);
          }
        }
      }
    }
  }

  &__button {
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: .5rem 0;
    padding-right: 1rem;
    width: 11rem;
    transform: translate(-50%, 60%);
    font-family: inherit;
    font-size: .7em;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    color: $dark-blue;
    background: $yellow;
    opacity: .95;
    box-shadow: rgba($yellow, 0.1) 0px .3em 1em .1em;
    transition: box-shadow .2s ease-in-out, opacity .2s ease-in-out;

    .arrow {
      position: absolute;
      right: .9em;
      top: .8em;
      display: inline-block;

      padding: 3px;
      border: solid $dark-blue;
      border-width: 0 3px 3px 0;
      transition: transform .5s ease-in-out;
      transform: rotate(45deg) translate(-1px, -1px);
    }

    &:hover,
    &:focus {
      box-shadow: rgba($yellow, 0.2) 0px .35em 1.15em .1em;
      opacity: 1;

      .arrow {
        transform: rotate(45deg) translate(0px, 0px);
      }
    }
  }

  &__title {
    grid-area: title;

    @include breakpoint-up(medium) {
      margin-bottom: 0;
    }
  }

  &__links {
    grid-area: links;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none;
    }
  }

  &__showcase {
    color: $link-1;
    transition: color .2s ease-in-out;

    &:hover {
      color: lighten($link-1, 10%);
    }
  }

  &__source-code {
    color: $link-2;
    transition: color .2s ease-in-out;

    &:hover {
      color: lighten($link-2, 10%);
    }
  }

  &__divider {
    display: inline-block;
    height: 1em;
    width: 2px;
    background: rgba($white, .2);
    margin: 0 .8rem;
    position: relative;
  }

  &__details {
    transition: max-height .8s ease-in-out 0s, padding .5s ease-in-out 0s, opacity .6s ease-in-out .1s;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    grid-area: details;

    @include breakpoint-up(large) {
      display: grid;
      grid-gap: 2rem;
      grid-template-areas:
        "description image"
        "tools image"
    }
  }

  &__description {
    grid-area: description;

    a {
      color: #eee;
      text-shadow: 0 0 .05em #eee;

      &:hover,
      &:active {
        color: #fff;
      }
    }
  }

  &__image {
    grid-area: image;
    border-radius: .25rem;
    display: block;
    margin-left: auto;
    margin-left: right;


    @include breakpoint-down(medium) {
      margin: 3rem auto 2rem;
    }
  }

  &__tools {
    grid-area: tools;

    p {
      color: lighten($secondary-color, 10%);
    }

    a {
      color: inherit;
    }
  }

  &__extra {
    background: no-repeat linear-gradient(150deg, $primary-color, darken($primary-color, 15%));
    border: .2em ridge $secondary-color;
    padding: 2rem 2rem 3rem;
    margin: 8rem auto 0;
    max-width: 50rem;
    text-align: center;
    border-radius: 1rem;
    transition: box-shadow .25s ease-in-out;

    &:hover {
      box-shadow: rgba($secondary-color, 0.16) 0 1rem 3.6rem 0, rgba($primary-color, 0.06) 0 0 0 .1rem;
    }

    .plus {
      color: $secondary-color;
      font-size: 5rem;
      line-height: 1;
    }
  }
}

@keyframes openDetails {
  0% {
    display: none;
  }

  1% {
    display: block;
  }

  100% {
    display: block;
  }
}